
* {
    box-sizing: border-box;   
    --bug-color: #729f3f;
    --dark-color: #707070;
    --dragon-color: #f16e57;
    --electric-color: #eed535;
    --fairy-color: #fdb9e9;
    --fighting-color: #d56723;
    --fire-color: #fd7d24;
    --flying-color: #3dc7ef;
    --ghost-color: #7b62a3; 
    --grass-color: #9bcc50;
    --ground-color: #ab9842;
    --ice-color: #51c4e7;
    --normal-color: #a4acaf;
    --poison-color: #b97fc9;
    --psychic-color: #f366b9;
    --rock-color: #a38c21;
    --steel-color: #9eb7b8;
    --water-color: #4592c4;
    --border-radius-size: 15px;

}

body {
    margin: 0;
    padding: 0;
}


.banner {
    width: 100%;
    height: 50px;
    background-color: #333;
    position: fixed;
    display: flex;
}

.logo {
    display: flex;
    justify-content: left;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}

.pokeball-img {
    height: 40px;
    width: auto;
}

.pokemon-list {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 60px;
}

.grid-item {
    display: flex;
    justify-content: center;
    border: black solid 2px;
    height: 100px;
    border-radius: 10px;
    border: none;
}

.button {
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 20px;
}


/* Set background color of items based on Pokemon's first type */
.water {
    background-color: var(--water-color);
}

.grass {
    background-color: var(--grass-color);
}

.fire {
    background-color: var(--fire-color);
}

.bug {
    background-color: var(--bug-color);
}

.dark {
    background-color: var(--dark-color);
}

.dragon {
    background-color: var(--dragon-color);
}

.electric {
    background-color: var(--electric-color);
}

.fairy {
    background-color: var(--fairy-color);
}

.fighting {
    background-color: var(--fighting-color);
}

.flying {
    background-color: var(--flying-color);
}

.ghost {
    background-color: var(--ghost-color);
}

.ground {
    background-color: var(--ground-color);
}

.ice {
    background-color: var(--ice-color);
}

.normal {
    background-color: var(--normal-color);
}

.poison {
    background-color: var(--poison-color);
}

.psychic {
    background-color: var(--psychic-color);
}

.rock {
    background-color: var(--rock-color);
}

.steel {
    backdrop-filter: var(--steel-color);
}

/* Set border color based on Pokemon's second type */
.water2 {
    border: var(--border-radius-size) solid var(--water-color);
}

.grass2 {
    border: var(--border-radius-size) solid var(--grass-color);
}

.fire2 {
    border: var(--border-radius-size) solid var(--fire-color);
}

.bug2 {
    border: var(--border-radius-size) solid var(--bug-color);
}

.dark2 {
    border: var(--border-radius-size) solid var(--dark-color);
}

.dragon2 {
    border: var(--border-radius-size) solid var(--dragon-color);
}

.electric2 {
    border: var(--border-radius-size) solid var(--electric-color);
}

.fairy2 {
    border: var(--border-radius-size) solid var(--electric-color);
}

.fighting2 {
    border: var(--border-radius-size) solid var(--fighting-color);
}

.flying2 {
    border: var(--border-radius-size) solid var(--flying-color);
}

.ghost2 {
    border: var(--border-radius-size) solid var(--ghost-color);
}

.ground2 {
    border: var(--border-radius-size) solid var(--ground-color);
}

.ice2 {
    border: var(--border-radius-size) solid var(--ice-color);
}

.normal2 {
    border: var(--border-radius-size) solid var(--normal-color);
}

.poison2 {
    border: var(--border-radius-size) solid var(--poison-color);
}

.psychic2 {
    border: var(--border-radius-size) solid var(--psychic-color);
}

.rock2 {
    border: var(--border-radius-size) solid var(--rock-color);
}

.steel2 {
    border: var(--border-radius-size) solid var(--steel-color);
}

.no-type2 {
    border: var(--border-radius-size) solid black;

}


.button:hover {
    background-color: aliceblue;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.modal.h1 {
    text-align: center;
}